@use 'abstracts/variables' as var;
@use 'abstracts/functions' as func;
@use 'abstracts/mixins' as mix;

.accordion {
    &__item {
        padding: 3.2rem;
        background: var.$bg-f9;
        border-radius: 2rem;
        &.is-active {
            .accordion__head::after {
                background-image: url('../../img/icon/icon_accordion_active.svg');
            }
            .accordion__title {
                font-weight: 500;
                color: var.$primary-color2;
            }
            .accordion__content {
                padding-top: 2.4rem;
                height: auto;
            }
        }
        & ~ .accordion__item {
            margin-top: 2rem;
        }
    }

    &__head {
        width: 100%;
        text-align: left;
        @include mix.flexbox(row, $justify: space-between, $align: flex-start);
        &::after {
            content: '';
            margin-left: 5rem;
            @include mix.icon('icon_accordion', 3rem, 3rem);
            min-width: 3rem;
        }
    }

    &__title {
        @include mix.fontStyle(2rem, 400, 1.46);
        color: var.$gray-666;
    }

    &__content {
        height: 0;
        overflow: hidden;
        @include mix.fontStyle(1.7rem, 400, 1.46);
        color: var.$gray-666;
        transition: all 0.4s ease-out;
    }
}
