@use 'abstracts/variables' as var;
@use 'abstracts/functions' as func;
@use 'abstracts/mixins' as mix;

$input-item: input-item;

.#{$input-item} {
    display: flex;
    flex-direction: column;
    &__label {
        margin-bottom: 1.2rem;
        color: var.$text-color-1;
        @include mix.fontStyle(1.6rem, 600, 1.4);
    }
    &__field {
        position: relative;
    }
    &__delete,
    &__search {
        position: absolute;
        top: 50%;
        right: 1.6rem;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
    }
    &__delete {
        display: none;
        background: url('../../img/icon/icon_delete.svg') no-repeat 50%;
        background-size: 100% auto;
        &.is-show {
            display: block;
        }
    }
    &__search {
        background: url('../../img/icon/icon_search.svg') no-repeat 50%;
        background-size: 100% auto;
    }
    &__error-text {
        display: flex;
        align-items: center;
        margin-top: 0.8rem;
        padding-left: 0.8rem;
        @include mix.fontStyle(1.3rem, 400, 1.4);
        color: var.$error-color;
        &::before {
            content: '';
            margin-right: 0.4rem;
            width: 1.6rem;
            height: 1.6rem;
            background: url('../../img/icon/icon_error.svg') no-repeat 50%;
            background-size: 100% auto;
        }
    }
    &--search {
        .#{$input-item}__delete {
            right: 5rem;
        }
    }
    &--is-error {
        .#{$input-item}__input {
            border-color: var.$error-color;
        }
        .#{$input-item}__input:focus {
            border-color: var.$error-color;
        }
    }
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='date'],
textarea {
    @include mix.fontStyle(1.6rem, 400, 1.4);
    @include mix.widthHeight(100%, 5.6rem);
    padding: 0 4.8rem 0 1.6rem;
    background: var.$white-color;
    border: 1px solid var.$gray-ddd;
    border-radius: 0.8rem;
    &::placeholder {
        color: var.$gray-999;
    }
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus {
    border-color: var.$text-color-1;
    outline: none;
}

input[disabled],
input[readonly]:not(.flatpickr-input) {
    background-color: var.$bg-f4;
}
input[disabled] {
    color: var.$gray-999;
}

input[readonly] {
    color: var.$gray-666;
}

input[disabled] ~ .input-item__search,
input[readOnly] ~ .input-item__search {
    background-image: url('../../img/icon/icon_search_disabled.svg');
}
