@use 'abstracts/variables' as var;
@use 'abstracts/functions' as func;
@use 'abstracts/mixins' as mix;

$swiper: swiper;
.#{$swiper} {
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30rem;
        background-color: rgb(221, 237, 255);
        color: var.$text-color-1;
        border-radius: 2rem;
        & {
            @include mix.fontStyle(1.6rem, 600, 1.4);
        }
    }
    &__navigation {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    &__button {
        width: 3.6rem;
        height: 3.6rem;
        background: no-repeat 50%;
        background-size: 100% auto;
        opacity: 0.4;
        &--prev {
            background-image: url('../../img/icon/icon_arrow_prev.svg');
        }
        &--next {
            background-image: url('../../img/icon/icon_arrow_next.svg');
        }
    }
    &__pagination {
        margin-top: 1.6rem;
        display: flex;
        justify-content: center;
    }
    &-pagination-fraction {
        & {
            @include mix.fontStyle(1.6rem, 600, 1.4);
        }
        .#{$swiper}-pagination-current {
            font-weight: 700;
            color: var.$primary-color;
        }
    }
    &--perview-auto {
        .#{$swiper}-slide {
            margin-right: 2rem;
            width: calc((100% - 4rem) / 3);
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    &--progressbar {
        .#{$swiper}__content {
            border-radius: 0;
        }
        .#{$swiper}__pagination {
            z-index: 10;
            width: 100%;
        }
    }
}
